body{
    width: 74.9633%;
    margin: 0 auto;
}
/* 头部 */
.nav1{
    background-color: #f4f4f4;
    font-size: 14px;
}
.nav1 ul{
    display: flex;
    justify-content: flex-end;
  	align-items: flex-end;
}
.nav1 ul li{
    margin-top: 15px;
    line-height: 22px;
    margin-bottom: 16px;
    /* padding-right: 1.953%; */
    margin-right: 1.5%;
}

.nav1 ul li:first-child{
    margin-right: auto;
    margin-left: 3.027%;
}
.nav1 ul li a{
    color: #979797;
}
.logoSearch{
    display: inline-flex;
    align-items: center;
    /* justify-content: start; */
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img:first-child{
    /* width: 25.87890625%; */
    margin-right: 4.39453125%;
}
.search{
    margin-left: 10%;
    font-size: 18px;
    flex: 1;
}
.search input{
    line-height: 30px;
    border-radius: 10px;
    border: 2px solid #70b702;
    width: 70%;
    text-indent: 1em;
} 

.search button{
    /* line-height: 30px; */
    color: white;
    font-size: 18px;
    background-color: #70b702;
    border: 2px solid #70b702;
    border-radius: 10px;
    width: 15%;
}
.nav2{
    background-color:#f2f2f2;
    border-bottom: 6px solid #d8d8d8;
    margin-bottom: 4px;
}
.nav2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* marigin-left:6.34765625%; */
}
.nav2 ul li{
    font-size: 18px;
    margin: 8px 4%;
}
.nav2 ul li a{
    color:#4c7900;
    text-decoration: none;
}
.serverce{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 8px;
}
.nav3{
    width: 20.01953125%;
}
.nav3 ul li{
    width: auto;
    /* background-color: blue; */
}
.nav3 ul li a{
    font-size: 16px;
    padding-left: 14.6341%;
    /* background-color: red; */
    padding-right: 65%;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 38px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    color:black;
    text-decoration: none;
}
.rollwhell{
    width: 37.11%;
    height: 160px;
    background-color: #d7d7d7;
}
.quickEnter{
    display: flex;
    justify-content:center; 
    align-items: center;
}
/* 头部结束 */










/* 内容开始 */
.specialShopping{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.goodsHeader{
    display: flex;
    /* justify-content:center;  */
    align-items: center;
    border-bottom: 4px solid #ababab;
    font-size: 20px;
    text-indent: 1em;
    /* margin-bottom: 6px; */
}
.goodsHeader span{
    color: 20px;
    color: red;
}
.goods1{
    /* background-color: #f4f4f4; */
    padding-top:6px;
}
.goods1 ul{
    display: flex;
}
.goods1 ul li{
    margin-left:20px ;
}
.goods1 ul li a{
    text-decoration: none;
}
.ele1{
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
.ele2{
    font-size: 13px;
    color: black;
    margin-top: 8px;

}
.ele3{
    margin-top: 14px;
}
.ele3 a{
    font-size: 12px;
    color: #979797;
}
.goodsNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 5px solid #70b50d;
}
.goodsWord1{
    width: 13.184%;
    height: 44px;
    font-size: 20px;
    background-color: #70b50d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.goodsWord2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 17px;
    color:#668229;
}
.allGoods a:hover{
    text-decoration: none;
}
.goods2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.goodForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.goods2 ul li{
    /* background-color: #f4f4f4; */
    margin: 2%;
}
.goods2 ul li a{
    text-decoration: none;
}
.ele4{
    color: red;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ele5{
    font-size: 12px;
    color: black;
    margin-bottom: 8px;
}
.ele6 a{
    color: #979797;
    font-size: 13px;
}
.goodsNav span{
    display: flex;
    align-items: center;

    /* width: auto; */
}
.goodsNav span a {
    color: #668229;
    border-right: 2px solid #668229;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 20px;
    font-size: 16px;
}
.goodsNav span a:last-child{
    border-right:0;
}

/* .publicize{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* 主要内容结束 */








/* 页面底部开始 */
.foot_nav1{
    background-color: #f2f2f2;
}
.foot_nav1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_nav1 ul li {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: ; */
    line-height: 60px;
    margin: 0 3%;
    color: #4e4e4e;
}
.foot_nav2{
    display: flex;
    align-items: center;
    border-top:2px solid #d8d8d8 ;
    border-bottom:2px solid #d8d8d8 ;
    margin-bottom: 18px;
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8.301%;
    margin-right: 20%;
}
.a_navs{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.a_navs ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
    width: auto;
    padding: 10px;
}

.a_navs ul li a{
    color: #7d7d7d;
}.a_navs ul li:first-child{
    margin-top: 32px;
}
.a_navs ul li:first-child a{
    color: #575757;
    font-size: 16px;
    margin-bottom: 5px;
}
.foot_pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 页面底部结束 */